@if (Request.IsAuthenticated) {
    <text>
        Welcome, @User.Identity.Name !!
    </text>
    
    <ul class="nav btn-group"><li class="btn btn-inverse"><a title="" href="/Account/LogOff"><i class="icon icon-share-alt" style="background:none;"></i> <span class="text">Logout</span></a></li></ul>
} 
