@{
    ViewBag.Title = "Response Submitted to Consumer Report";
}

@Scripts.Render("~/bundles/jquery")

@*We need to store Report Type here*@
@Html.Hidden("reportType",(string)(@ViewBag.ReportType))

@*This is used to store Report Results*@
<div id="divReportResults"></div> 

@Scripts.Render("~/bundles/knockout")

@section scripts{
    <script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            
            //Load the Report Grid Here
            $("#divReportResults").load(baseUrl + '/Compliance/Home/GetReportData?ReportType=' + $('#reportType').val());

        });
        
    </script>
}