@using MSI.CCAT.WEB.Models
@model MSI.CCAT.WEB.Models.pageInfo

@{
    ViewBag.Title = @Model.title;
    Layout = null;
}

@*We need to store Report Type here*@
@Html.Hidden("reportType",(string)(@ViewBag.ReportType))

 <div id="clubSearch" class="container-fluid">
    <div class="row-fluid">
        <div class='page-title'>Submitted for Owner Action</div>
    </div>
    <br />
     @*Search button
    <div class="row-fluid">
        <div class="span12">
            <div class="span8 input-append">
                <input id="searchBox" size="100" type="text" placeholder="ComplaintId or Last Name" onkeyup="triggerSearch(event);" style="max-width:200px">
                <button id="btnSearch" class="btn tip-right" type="button"><i class="icon-search"></i></button>
            </div>
        </div>
    </div>*@

    <div class="row-fluid" style="margin-top:10px">
        <div id="searchGrid" class="k-content">
            <div id="SOASearchgrid"></div>
        </div>
    </div>
 </div>


@* Key pressed at Searchbox -> Search Button Click *@
<script>
    function triggerSearch(e) {
        var unicode = e.keyCode ? e.keyCode : e.charCode;
        if (unicode == 13) {
            $("#btnSearch").click();
        }
    }
</script>
<script src="~/Scripts/application.js" type="text/javascript"></script>

@* Kendo Grid Data Source *@
<script>
    function get_gridDataSource(searchText) {
        var dataSource = {
            type: "json",
            transport: {
                read: {
                    url: baseUrl + "/Compliance/Home/GetComplianceReportData",
                    dataType: "json",
                    data: { searchText: searchText, reportType: $('#reportType').val() },
                    cache: false //This is required othewise grid does not refresh after Edit operation in IE
                }
            },
            schema: {
                data: "results",
                total: "__count",
                model: {
                    fields: {
                        ComPlaintId: { type: 'string' },
                        PIMSAccount: { type: 'string' },
                        LastName: { type: 'string' },
                        FirstName: { type: 'string' },
                        LastFourSSN: { type: 'string' },
                        ComplaintDate: { type: "date" },
                        ComplaintSubmittedDate: { type: "date" }
                    }
                }
            },
            pageSize: 10,
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        };
        return dataSource;
    }
</script>

<style type="text/css">
    .k-grid999 tbody .k-button {
        min-width: 12px;
        width: 50px;
        height: 25px;
        vertical-align: middle;
    }
</style>

@* Kendo Grid Data *@
<script>
    function get_kendoGridData(searchText) {
        var dataSource = get_gridDataSource(searchText)
        var kendoGridData = {
            dataSource: dataSource,
            height: 480,
            filterable: false,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true
            },
            resizable: true,
            columnMenu: true,
            scrollable: true,
            navigatable: true,
            selectable: true,
            columns: [
                {
                    command: [
                                { id: "edit", name: "edit", template: "<a class='k-button k-grid-edit editsa' title='View/Edit' style='min-width:16px;'><span class='k-icon k-edit'></span></a>" },
                           ],  title: " ", width: "30px"
                },
                { field: "ComPlaintId", title: "Complaint ID", width: "80px" },
                { field: "PIMSAccount", title: "Account#", width: "100px" },
                { field: "LastName", title: "Last Name", width: "80px" },
                { field: "FirstName", title: "First Name", width: "80px" },
                { field: "LastFourSSN", title: "Last 4 SSN", width: "80px" },
                { field: "ComplaintDate", title: "Complaint Date", width: "80px", format: "{0:MM/dd/yy}" },
                { field: "ComplaintSubmittedDate", title: "Submitted to Owner", width: "80px", format: "{0:MM/dd/yy}" }
            
                
            ]
        }
        return kendoGridData;
    }
</script>


@* Document Ready *@
<script>
    $(document).ready(function () {
        @*Edit record*@
        $('#SOASearchgrid').on('click', '.editsa', function (e) {
            e.preventDefault();
            var dataItem = $("#SOASearchgrid").data("kendoGrid").dataItem($(this).closest("tr"));
            @*Now let us clear what we have on this page*@
            $('#clubSearch').children().remove();
            var path = baseUrl + "/Compliance/Home/ViewEdit?id=" + dataItem.PIMSAccount + "&agency=" + dataItem.AgencyId;
            $.get(path, function (data) {
                @*Now Refill the data*@
                $('#clubSearch').html(data);
            });
        });
        showProgress("Please wait...Report is being generated.");
        @*First time Grid Binding*@
        var kendoGridData = get_kendoGridData("");
        $("#SOASearchgrid").kendoGrid(kendoGridData);
        hideProgress();

        @* When Search Button is clicked *@
        $("#btnSearch").click(function () {
            showProgress("Please wait...Report is being generated.");
            var searchText = $("#searchBox").attr('value');
            var grid = $("#SOASearchgrid").data("kendoGrid");
            var dataSource = get_gridDataSource(searchText);
            grid.dataSource.transport.options.read.data = { searchText: searchText, reportType: $('#reportType').val() };
            grid.dataSource.read();
            hideProgress();
        });

    });
</script>
