@Html.Hidden("userId", (string)(@ViewBag.UserID))
@Html.Hidden("userName", (string)(@ViewBag.UserName))
<div id="clubSearch" class="container-fluid">
    <div class="row-fluid" style="margin-top: 10px">
        <div id="searchGrid" class="k-content">
            <div id="chartContainer1" style="display: block; text-align: center">
                <img src="~/contents/_shared/image/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/external")

<script src="~/Scripts/application.js" type="text/javascript"></script>
<script type="text/javascript">
    

    $(document).ready(function () {
        $.ajax({
            url: baseUrl + '/api/Chart/Get',
            type: 'GET',
            contentType: 'application/json',
            data: { strChartId: 'AssessmentResults', strDrillBy: 'testDrillby', strUserName: $('#userName').val(), strSearchParameter: $('#userId').val() },
            success: function (data) {
                log(data);
                var myChart = new FusionCharts(baseUrl + '/FusionChartLib/' + data.SWF, "test1", "100%", "500", '0', '1');
                myChart.setXMLData(data.ChartXML);
                myChart.render(chartContainer1);
            }
        });
        loadScorecard = function (moduleId) {
            $('#clubSearch').children().remove();
            var path = baseUrl + "/Assessment/Home?moduleId=" + moduleId + "&onlyDeficient=true";
            $.get(path, function (data) {
                $('#clubSearch').html(data);
            });
        }
    });
</script>
